<div class="card">
    <div class="card-header bg-white">
        <i class="fas fa-id-card"></i> {{session.user.id}}
    </div>
    <div *ngIf="!isEditing" class="card-body">
        <app-loading *ngIf="isLoading" ></app-loading>
        <div *ngIf="!isLoading">
            <img class="avatar-image rounded-circle profile-avatar img-fluid"  src="{{profile.avatar.url}}" alt="artist_avatar">
        
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-user-tag"></i> {{profile.nickname}}</li>
                <li class="list-group-item"><i class="fas fa-user"></i>  {{profile.first_name}} {{profile.last_name}} </li>
                <li class="list-group-item"><i class="fas fa-envelope"></i> {{profile.email}}</li>
                <li class="list-group-item"><i class="fas fa-phone"></i> {{profile.phone_number}}</li>
                <li class="list-group-item"><button type="button" (click)="tooggleView()" class="btn btn-dark">Edit profile</button></li>
              </ul>
        </div>

        
        
        
    </div>

    <div *ngIf="isEditing" class="card-body">

       
        <div class="form-group">
            <form [formGroup]="profileForm" (ngSubmit)="editProfile()">
                <!--<div class="form-group"> 
                    <label for="exampleFormControlFile1">Select new Avatar</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>-->
                <div class="form-group">
                    
                    <input type="text" formControlName="nickname" class="form-control" 
                        placeholder="Nickname" >
                </div>
                <div class="form-group">
                    <input type="text" formControlName="first_name" class="form-control" id="inputFName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input type="text" formControlName="last_name" class="form-control" id="inputLName" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <input type="text" formControlName="phone_number" class="form-control" id="inputPhone" placeholder="Phone Number">
                </div>
 

                <button type="submit"  class="btn btn-dark">Save profile</button>
                <button type="button" (click)="tooggleView()" class="btn btn-dark ml-2">Cancel</button>
               
            </form>
        </div>
        
 
           
          
        
        
        
    </div>
</div>