<div class="card bg-transparent border-0">
    <div class="card-header bg-white border-0 shadow-box" *ngIf="!isLoading">
        Corporation Name
    </div>
    <div class="card-body bg-transparent border-0">
        <app-loading *ngIf="isLoading" [message]="loadingMessage"></app-loading>
        <div class="container-fluid">
            <div class="row">
                <div class="list-group">
                    <app-event-card *ngFor="let ev of events; trackBy:eventTracker" [event]="ev"></app-event-card>
                </div>
            </div>
        </div>
    </div>
</div>