<a href="javascript:;" class="list-group-item list-group-item-action p-0 card-item"
    [routerLink]="['/consumer/event', event.id]">
    <div class="d-flex justify-content-between">
        <div>
            <img [src]="img_selected" alt="service" height="120" width="150">
        </div>
        <div class="flex-fill pt-2 pb-2 pl-2">
            <h5 class="title">{{event.service.name}}</h5>
            <p class="p-0 m-o">
                <small class="text-muted">{{event.service.profession_name}}</small>
            </p>
            <p>{{event.service.total_price | currency}}</p>
        </div>
        <div class="flex-fill pt-2 text-right pr-2 text-muted">
            <p class="p-0 m-0">
                <small>
                    {{event.start_date | dateTimeZonePipe:'MMM-d'}}
                </small>
            </p>
            <p class="p-0 m-0">
                <small>
                    {{event.start_date | dateTimeZonePipe:'HH:mm A'}} - {{event.end_date | dateTimeZonePipe:'HH:mm A'}}
                </small>
            </p>

        </div>
    </div>
</a>