<div class="card event-card border-0 shadow-box">
    <div class="card-header event-card-header d-flex justify-content-between">
        <span></span>
        <button class="btn btn-secondary btn-sm rounded-pill btn-action">Request</button>
    </div>
    <div class="card-body text-muted">
        <div class="d-flex justify-content-between">
            <p>{{event.service.name}} <br> <small>{{event.service.duration}} Minutes</small></p>
            <span class="badge badge-pill badge-primary h-100">{{event.service.total_price | currency}}</span>
        </div>
        <!-- <div class="d-flex justify-content-between">

        </div> -->
    </div>
    <div class="card-body text-muted bg-white border-0 d-flex justify-content-between">
        <small>
            <i class="far fa-calendar-alt"></i>
            {{event.start_date | dateTimeZonePipe:'MMM-d'}}
        </small>
        <small>
            <i class="far fa-clock"></i>
            {{event.start_date | dateTimeZonePipe:'HH:mm A'}}
        </small>
    </div>
    <div class="card-footer text-muted bg-white border-0 d-flex justify-content-start">
        <img src="{{event.artist.avatar}}" alt="artist avatar" class="rounded event-artist-avatar mr-1">
        <div>
            <p>{{event.artist.first_name}} {{event.artist.last_name}}</p>
        </div>
    </div>
</div>